@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
  themes: light,dark,black,acid,winter;
}

* {
  font-family: 'monts';
}
.title-text {
  font-family: 'lg';
}
.fullScreenPreloader {
  backdrop-filter: blur(2px);
  backface-visibility: hidden;
}